@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
:root{
  --primary-color: #FF5A3C;
  --color-text: #071C1F;
}
* {
  font-family: "Lexend", sans-serif;
}

a.active{
 color: #FF5A3C;
 border-bottom: 2px solid #FF5A3C;
}
.swiper-pagination-bullet-active {
  background-color: #FF5A3C !important;
}
.my-button{
  @apply text-[15px] text-white bg-[var(--primary-color)] text-[var(--color-text)] hover:bg-amber-50 hover:text-black
}
.hero-button{
    @apply btn-outline border-white mt-4 hover:bg-white hover:text-black transition duration-300
}
.navLInk{
  @apply hover:text-[var(--primary-color)]
}
.footer-hover{
 @apply hover:text-[#FF5A3C] ml-0 hover:ml-2 transition-all duration-300 ease-in-out
}
